<%= form_for([@course_module, quiz]) do |f| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
      <% quiz.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pass_points %>
    <%= f.number_field :pass_points %>
  </div>

  <div class="field">
    <%= f.label :time_in_seconds %>
    <%= f.number_field :time_in_seconds %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
