<div class="show_module">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course_module.name %>
  <br>
  <strong>Description:</strong>
  <%= @course_module.description %>
  <br>
  <iframe id="ytplayer" type="text/html" width="640" height="390" src='<%= link_to_embed(@course_module.youtube_link) %>?' autoplay=0 frameborder="0"></iframe>
</p>

<%= link_to (t(:edit)), edit_course_course_module_path(@course_module.course, @course_module) %> |
<%= link_to (t(:back)), course_es_path(@course_module.course) %>
</div>
