<% collection.each do |inscription| %>
  <table class="table">
    <thead class="th-tables">
      <tr>
        <th colspan="2" style="width: 200px;">Detalle de Inscripción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Número de inscripción:</td>
        <td><%= inscription.id %></td>
      </tr>
      <tr>
        <td>Fecha de Inscripción:</td>
        <td><%= inscription.created_at %></td>
      </tr>
      <tr>
        <td>Curso:</td>
        <td><%= Course.find(inscription.course_id).name%></td>
      </tr>
      <tr>
        <td>Alumno:</td>
        <td><%= Person.find(inscription.person_id).last_name %>, <%= Person.find(inscription.person_id).first_name %></td>
      </tr>
      <tr>
        <td>Monto pagado:</td>
        <td>$ <%= inscription.payment %></td>
      </tr>
    </tbody>
  </table>
<% end %>
