<!-- start user projects -->
<table class="data table table-striped no-margin">
  <thead>
    <tr>
      <th>#</th>
      <th><%= t('.table.th.course_name') %></th>
      <th><%= t('.table.th.teachers') %></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.last_completed_courses.each_with_index do |course, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= link_to course.name, course %></td>
        <td><%= course.teacher_names.join('<br />') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- end user projects -->
