<div class="forgot_password">
  <section class="login_content">
    <h1 id="forgot_password"><%= t(:forgotPassword) %></h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div id="email_fp">
      <%= f.email_field :email, autofocus: true, placeholder: true, class: "form-control" %>
    </div>

    <div class="actions_fp">
      <%= f.submit t(:send_me_reset_password_instructions), class: "btn btn-default submit" %>
    </div>
    <% end %>
  </section>
  <div class="links">
    <%= render "devise/shared/links" %>
    <%= link_to t(:home), root_path %>
  </div>
</div>