<h1>MVP Courses</h1>

<% if current_user %>
  <% if current_user.role.name == 'Student' %>
    <%= render 'shared/student/menu' %>
    <br>
    <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
  <% elsif current_user.role.name == 'Admin' %>
    <%= render 'shared/admin/menu' %>
    <br>
    <br>
    <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
    <% elsif current_user.role.name == 'Teacher' %>
    <%= render 'shared/teacher/menu' %>
    <br>
    <br>
    <%= link_to 'Salir', destroy_user_session_path, method: :delete %>
  <% end %>

<% else %>
  <%= link_to 'Login', new_user_session_path %>
<% end %>