<p id="notice"><%= notice %></p>
<h1>Teachers</h1>
<p>
  <strong>First Name:</strong>
  <%= @teacher.person.first_name %>
  <br>
  <strong>Last Name:</strong>
  <%= @teacher.person.last_name %>
</p>
<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
