<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_name_course">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field_number_resolution">
    <%= f.label :no_resolution %>
    <%= f.text_field :no_resolution %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.date_field :start_date %>
  </div>

  <div class="field">
    <%= f.label :finish_date %>
    <%= f.date_field :finish_date %>
  </div>

  <div class="field">
    <%= f.label :summary %>
    <%= f.text_field :summary %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :modality_id %>
    <%= f.select :modality_id, modality_options %>
  </div>

  <div class="field_number_resolution">
    <%= f.label :resolution %>
    <%= f.file_field :resolution %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
