<%= form_for(course) do |f| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field_name_course">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field_number_resolution">
    <%= f.label :number_resolution %>
    <%= f.text_field :no_resolution %>
  </div>

  <div class="field_number_resolution">
    <%= f.label :resolution %>
    <%= f.file_field :resolution %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
