<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Lista de Cursos</h2>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <h1>Lista de Cursos</h1>
        <hr/>
        <% if current_user.role.name != 'Admin' && current_user.role.name != 'Teacher' %>
 
        <% else -%>
        <table class="table table-striped courses">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>Modality</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.start_date %></td>
                <td><%= course.modality.name %></td>
                <td>
                  <%= link_to t(:show), course, class: "btn btn-primary btn-xs" %>
                  <% if current_user.role.name == 'Admin' %>
                    <%= link_to t(:edit), edit_course_path(course), class: "btn btn-info btn-xs" %>
                  <% end -%>
                  <% if current_user.role.name == 'Teacher' %>
                    <%= link_to 'Add Modules', new_course_course_module_path(course), class: 'btn btn-info btn-xs' %>
                    <%= link_to 'List Modules', course_course_modules_path(course), class: 'btn btn-info btn-xs' %>
                  <% end -%>
                </td>
                <!-- <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
              </tr>
            <% end %>
          </tbody>
        </table>
        <% if current_user.role.name == 'Admin' %>
          <%= link_to 'New Course', new_course_path, class: "btn_new_course-ic" %>
        <% end -%>
      </div>
    </div>
  </div>
</div>
