  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-12">
      <div class="x_panel">
        <div class="x_title">
        <h2>Lista de Cursos</h2>
        <div class="clearfix"></div>
        </div>
        <div class="x_content">       
        <table class="table table-striped courses">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>Modality</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @courses.each do |course| %>
              <tr>
                <td><%= course.name %></td>
                <td><%= course.start_date %></td>
                <td><%= course.modality.name %></td>
                <td>
                  <%= link_to t(:show), course, class: "btn btn-primary btn-xs" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>