<div class="show_detail_course">
  <p id="notice"><%= notice %></p>
   <h1>Detalle del Curso</h1>
   <hr/>
  <p>
      <strong>Name</strong>

  <%= @course.name %>

  <% if @course.no_resolution.nil? %>

    <br>
    <strong><%=t('courses.resolution_number')%></strong>
    <%= @course.no_resolution %>

  <% end -%>

  <br>
  <strong><%=t('courses.modality')%></strong>
  <%= @course.modality.name %>

  <br>
  <strong><%=t('courses.tags')%>:</strong>
  <%= @course.topic_list %>
  <br>
  <strong><%=t('courses.start_date')%></strong>
  <%= @course.start_date %>

  <br>
  <strong><%=t('courses.finish_date')%></strong>
  <%= @course.finish_date %>

  <br>
  <strong><%=t('courses.description')%></strong>
  <%= @course.description %>

  <br>
  <strong><%=t('courses.summary')%></strong>
  <%= @course.summary %>
  <br>
  <strong><%=t('courses.resolution_name')%></strong>
  <%= @course.resolution_file_name %>

  <br>
  <strong><%=t('courses.image_name')%></strong>
  <%= @course.image_file_name %>
</p>
  <h3>Modulos</h3>
  <table>

    <thead>

      <tr>

        <th>Name</th>

        <th colspan="3"></th>

      </tr>

    </thead>

    <tbody>

      <% @course.course_modules.each do |course_module| %>

        <tr>

          <td><%= course_module.name %></td>

          <td><%= link_to t(:show), course_module, class: "btn_show" %></td>

          <% if current_user.role.name == 'Teacher' %>

            <td><%= link_to t(:edit), edit_course_course_module_path(course_module), class: "btn_edit" %></td>

          <% end -%>

        </tr>

      <% end %>

    </tbody>

  </table>

  <% if current_user.role.name == 'Admin' %>
    <%= link_to (t(:edit)), edit_course_path(@course), class: "btn_show_edit" %> |
  <% end -%>
  <%= link_to (t(:back)), courses_path %>
  <% if current_user.role.name == 'Student' %>
    <%= link_to 'Register', new_course_inscription_path(@course), class: "btn_show_reg" %>
  <% end -%>
  <% if current_user.role.name == 'Teacher' %>
   <%= link_to 'Add Modules', new_course_course_module_path(@course), class: "btn_add_modules" %>
  <% end -%>
</div>
