<p id="notice"><%= notice %></p>
<h1>Courses</h1>
<p>
  <strong>Name:</strong>
  <%= @course.name %>
  <br>
  <strong>Resolution Number:</strong>
  <%= @course.no_resolution %>
  <br>
  <strong>Modality:</strong>
  <%= @course.modality.name %>
</p>

<% if current_user.role.name == 'Admin' %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
<% end -%>
<%= link_to 'Back', courses_path %>
<% if current_user.role.name == 'Student' %>
  <%= link_to 'Register', new_course_inscription_path(@course) %>
<% end -%>
