<div class="show_detail_course">
  <p id="notice"><%= notice %></p>
   <h1>Curso</h1>
   <hr/>
 </div>
<!--//////////////////////////////////////////-->
<div class="description_course">
            <p>
            <strong>Nombre</strong>

            <%= @course.name %>
            <% if @course.no_resolution.nil? %>
            <br>

            <strong>Numero de Resolución</strong>
            <%= @course.no_resolution %>
            <% end -%>
            <br>
            <strong>Modalidad</strong>
            <%= @course.modality.name %>
            <br/>
            <strong>Fecha de Inicio</strong>
            <%= @course.start_date %>
            <br/>
            <strong>Fecha Fin</strong>
            <%= @course.finish_date %>
            <br/>
            <strong>Resumen</strong>
            <p class="summary"><%= @course.summary %></p>
            <br/>
            <strong>Descripción</strong>
            <p class="description"><%= @course.description %></p>
            <br/>
            <strong>Resolution Name</strong>
            <%= @course.resolution_file_name %>
            <br/>
            <strong>Image Name</strong>
            <%= @course.image_file_name %>
            </p>
</div>
<% @course.course_modules.each_with_index do |course_module, index| %>
  <div class="col-md-12 col-sm-6 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2><i class="fa fa-align-left"></i>Modulo <%= "#{index+1}: #{course_module.name}" %><small><%= @course.name %></small></h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a></li>
          <li><%= link_to t(:show_icon_html), course_module %>
          </li>
        </ul>
      <div class="clearfix"></div>
      </div>
        <div class="x_content">
          <!-- start accordion -->
          <p class="description"><%=course_module.description %></p>
          <!-- end of accordion -->
        </div>
    </div>
  </div>
<% end %>
<%= link_to (t(:back)), courses_path, class: "btn_back_sc" %>
<% if current_user.role.name == 'Student' %>
  <%= link_to 'Register', new_course_inscription_path(@course), class: "btn_show_reg" %>
<% end -%>
