<div class="show_detail_course">
  <p id="notice"><%= notice %></p>
   <h1>Detalle del Curso</h1>
   <hr/>
  <p>
    <div class="show_name_course">
        <strong id="show_name_c">Name:</strong>
        <%= @course.name %>
    </div>
    <% if @course.no_resolution.nil? %>
      <br>
      <strong>Resolution Number</strong>
      <%= @course.no_resolution %>
    <% end -%>
    <br>
    <strong>Modality</strong>
    <%= @course.modality.name %>
    <br>
    <strong>Start Date</strong>
    <%= @course.start_date %>
    <br>
    <strong>Finish Date</strong>
    <%= @course.finish_date %>
    <br>
    <strong>Description</strong>
    <%= @course.description %>
    <br>
    <strong>Resolution Name</strong>
    <%= @course.resolution_file_name %>
    <br>
    <strong>Image Name</strong>
    <%= @course.image_file_name %>
  </p>

  <% if current_user.role.name == 'Admin' %>
    <%= link_to (t(:edit)), edit_course_path(@course), class: "btn_show_edit" %> |
  <% end -%>
  <%= link_to (t(:back)), courses_path %>
  <% if current_user.role.name == 'Student' %>
    <%= link_to 'Register', new_course_inscription_path(@course), class: "btn_show_reg" %>
  <% end -%>
</div>
