<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
    <div class="navbar nav_title">
      <%= link_to '#', class: 'site_title' do %>
        <i class="fa fa-dashboard"></i> <span><%= t(:admin_menu)%></span>
      <% end %>
    </div>

    <div class="clearfix"></div>

    <!-- menu profile quick info -->
    <div class="profile clearfix">
      <div class="profile_pic">
        <%= image_tag 'img.jpg', class: "img-circle profile_img"%>
      </div>
      <div class="profile_info">
        <span><%= t(:welcome)%></span>
        <h2><%= current_user.full_name %></h2>
      </div>
    </div>
    <!-- /menu profile quick info -->

    <br>

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section active">
        <h3>General</h3>
        <ul class="nav side-menu" style="">

          <li class="active"><a><i class="fa fa-list"></i>Cursos<span class="fa fa-chevron-down"></span></a>
            <ul class="nav child_menu" style="display: block;">
              <!--<li class="current-page"><%= link_to 'New Course', new_course_path %></li>-->
              <li><%= link_to 'Lista de Cursos', courses_path %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
