<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= t(:title) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="nav-md <%= current_user.role.name %>">
    <div class="container body">
      <div class="main_container">
        <%= render 'shared/admin/sidebar' %>
        <%= render 'shared/admin/top_nav' %>
        <div class="right_col">
          <%= render 'shared/flash_messages' %>
          <div><%= yield %></div>
          <div class="clearfix"></div>
        </div>
        <%= render 'shared/admin/footer' %>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
