<section class="login_content">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div id="field_email_su">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, placeholder: true, class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div id="field_password_su">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", placeholder: t('activerecord.attributes.user.password_hint', length: @minimum_password_length), class: "form-control" %>
    </div>

    <div id="field_confirPas_su">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: true, class: "form-control" %>
    </div>

    <%= f.fields_for :person do |g| %>
      <div id="field_name_su">
        <%= g.label :first_name %>
        <%= g.text_field :first_name, autofocus: true, placeholder: true, class: "form-control" %>
      </div>
      <div id="field_apellido_su">
        <%= g.label :last_name %>
        <%= g.text_field :last_name, autofocus: true, placeholder: true, class: "form-control" %>
      </div>
      <div id="field_dni_su">
        <%= g.label :dni %>
        <%= g.text_field :dni, autofocus: true, placeholder: true, class: "form-control" %>
      </div>
      <div id="field_prov_su">
        <%= g.label :province_id %>
        <%= g.select :province_id, province_options %>
      </div>
    <% end %>
    <div id="field_password_su">
      <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "off", placeholder: true, class: "form-control" %>
    </div>

    <div id="actions_sign">
      <%= f.submit "Update", class: "btn btn-default submit" %>
    </div>
  <% end %>
</section>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-default submit" %></p>

<%= link_to "Back", :back, class: "btn btn-primary pull-left" %>
